@font-face {
    font-family: 'garet-book';
    src:url('Webfont/Garet-Book.woff')
        format('woff'),
        url('Webfont/Garet-Book.ttf')
        format('truetype')
}

p{
    font-family: 'garet-book', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
}
